* {
  margin: 0;
  padding: 0;
}
:root {
  --Gelb: #ffca29;
  --Orange: #ffa41c;
  --Blau: #121c47;
  --Schwarz: #000000;
  --Weiß: #ffffff;
}
nav {
  display: flex;
  align-items: center;
  height: 90px;
  background-color: var(--Schwarz);
}
ul {
  display: flex;
  justify-content: space-between;
  width: 60%;
}
.point-out {
  flex-grow: 2;
}
ul li {
  display: inline-block;
  margin: 0 10px;
}
ul li a {
  color: var(--Weiß);
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: normal;
  text-decoration: none;
}
ul li a:hover {
  color: var(--Gelb);
}
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
